*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    background: #aee0d5;
}

nav{
    background: #222;
    padding: 5px 20px;
}

ul{
    list-style-type: none;
}

a{
    color: #1abc9c;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.logo a:hover{
    text-decoration: none;
}

.menu li{
    font-size: 16px;
    padding: 15px 15px;
    white-space: nowrap;
}

.logo a,
.toggle a{
    font-size: 20px;
}

.button{
    border-bottom: none;
    border-radius: 5px;
}

/*mobile menu*/

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    order: 1;
}
.item.button{
    order: 2;
}
.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active{
    display: block;
}

/*tablet menu*/
@media all and (min-width: 600px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .toggle{
        flex: 1;
        text-align: right;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }
    .toggle{
        order: 2;
    }
    .button{
        border: 0;
    }
    .button a{
        padding: 7px 15px;
        background: #1abc9c;
        color: #E6E6FA;
        border-radius: 5px;
      
    }
    .button a:hover{
        text-decoration: none;
        background: #E6E6FA;
        color: #1abc9c;
        border-radius: 5px;
    }
}

/*destop*/
@media all and (min-width: 900px){
    .item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order: 0;
    }
    .item{
        order: 1;
    }
    .button{
        order: 2;
    }
    .menu{
        padding: 15px 10px;
    }
    .menu li.button{
        padding-right: 0;
    }
}


/*update*/

h2{
    align-items: center;
    margin: 20px;
    font-weight: 300;
}

form.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    border: none;
    height: 50px;
    width: 250px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

button{
    border: none;
    height: 50px;
    width: 250px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

select{
    border: none;
    height: 50px;
    width: 250px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

.textbox{
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.4);
}

.textbox:hover,
.textbox:focus{
    background: #E6E6FA;
    width: 350px;
    color: #1abc9c;
}

.textbox2{
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.4);
}

.textbox2:hover,
.textbox2:focus{
    background: #E6E6FA;
    width: 350px;
    color: #1abc9c;
}

.btn-submit{
    background: #E6E6FA;
    color: #1abc9c;
}

.btn-submit:hover{
    background: #1abc9c;
    color: #E6E6FA;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.1);
}

.btn-submit2{
    background: #1abc9c;
    color: #E6E6FA;
}

.btn-submit2:hover{
    background: #E6E6FA;
    color: #1abc9c;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.1);
}